<div class="filters">
    <div class="item">
        第：
    </div>
    <select class="item dd" mx-change="@{change.col}()">
        {{for(let i=cols[0];i<=cols[1];i++)}}
        <option selected="{{i==col}}?">{{=i}}</option>
        {{/for}}
    </select>
    <div class="item ml5">
        列按字符：
    </div>
    <input class="item ipt" value="{{=chars}}" mx-input="@{change.chars}()" />
    <div class="item ml5">拆分</div>
    <button class="btn btn-brand ml30{{if !table}} none{{/if}}" mx-click="@{copy}()">复制表格内容</button>
</div>
<div class="result">
    {{if table}}
        <table class="table" id="result_{{=id}}">
            <tbody>
                {{each table.grid as cells}}
                <tr>
                    {{each cells as cell}}
                        <td style="width:{{=100/table.cols}}%">{{=cell}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        请粘贴内容
    {{/if}}
</div>
<div class="result">
    {{if table}}
    由原{{=table.from}}行拆分成{{=table.to}}行
    {{/if}}
</div>